* {
    border: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 15px;
    padding: 2px;
}

window#waybar {
         background: rgba(0, 0, 0, 0);
}      
 .modules-left {
    background: rgba(25,26,38,50); 
    border-radius: 5px;
 }
 .modules-right {
    background: rgba(25,26,38,50); 
    border-radius: 5px;     
 }
 .modules-center {
    background: rgba(25,26,38,50); 
    border-radius: 5px;
 }
#custom-window-switch1 {
	color: #e0e0e0;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch1:hover {
   text-shadow: 0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201);
   transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch2 {
	color: #e0e0e0;
  	text-shadow: 0px 0px 0px rgb(0, 0, 0)
}
#custom-window-switch2:hover {
    text-shadow: 0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201);
    transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch3 {
	color: #e0e0e0;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch3:hover {
text-shadow: 0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201);
transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch4 {
	color: #e0e0e0;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch4:hover {
text-shadow: 0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201);
transition: text-shadow 0.2s ease-in-out;
} 
#custom-window-switch5 {
	color: #e0e0e0;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#custom-window-switch5:hover {
text-shadow: 0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201),0px 0px 5px rgb(201, 201, 201);
transition: text-shadow 0.2s ease-in-out;
}
#custom-rofi_button {
	color: #e0e0e0;
}

#custom-rofi_button:hover {
text-shadow: 0px 0px 5px rgb(67, 98, 196),0px 0px 5px rgb(67, 98, 196),0px 0px 5px rgb(67, 98, 196);
transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
color: rgb(67, 98, 196);
}
#custom-telegram {
	color: #e0e0e0;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#custom-telegram:hover {
text-shadow: 0px 0px 5px rgb(42,171,238),0px 0px 5px rgb(42,171,238),0px 0px 5px rgb(42,171,238);
transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
color: #2AABEE;

}
#clock{
	color: #e0e0e0;
	transition:	color 0.2s ease-in-out;
}
#clock:hover {
	color: #6e6e6e;
	transition:	color 0.2s ease-in-out;
}
#custom-steam {
	color: #e0e0e0;
	transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}
#custom-steam:hover {
text-shadow: 0px 0px 5px rgb(93, 115, 175),0px 0px 5px rgb(93, 115, 175),0px 0px 5px rgb(93, 115, 175);
transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
color: #5d73af ;
}
#battery {
	color: #78cc82;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#battery:hover {
text-shadow: 0px 0px 5px rgb(0, 255, 55),0px 0px 5px rgb(0, 255, 55);
transition: text-shadow 0.2s ease-in-out;
}

#custom-wifi {
	color: #787bcc;
	padding: 0px 3px;
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}
#custom-wifi:hover {
text-shadow: 0px 0px 5px rgb(67, 98, 196),0px 0px 5px rgb(67, 98, 196),0px 0px 5px rgb(67, 98, 196);
transition: text-shadow 0.2s ease-in-out;
}
#custom-rofi_button {
	color: #e0e0e0;	
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	transition: text-shadow 0.2s ease-in-out;
}

#custom-power {
  color: rgb(201, 54, 54);
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
  transition: text-shadow 0.2s ease-in-out;
}

#custom-power:hover {
  text-shadow: 0px 0px 5px rgb(201, 54, 54),0px 0px 5px rgb(201, 54, 54);
  transition: text-shadow 0.2s ease-in-out;
}

#pulseaudio {
 color: #e0e0e0;	
 transition: text-shadow 0.2s ease-in-out;
 text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

#pulseaudio:hover {
text-shadow: 0px 0px 5px rgba(201, 201, 201,0.7);
transition: text-shadow 0.2s ease-in-out;
}
